


.sidebar__container{
    position: fixed;
    height:100%;
    width:250px;
    background-color:#fff;
    z-index: 5;
}

.search__model{
    
    margin: 12px;
}

.budget__add-icon{
    display: flex;
    margin-top:50px;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 12px;
    cursor: pointer;
}

.budget__title{
    font-weight: bold;
}

.right__icon{
    position: absolute;
    right:12px;
}

.budget__field{
    width:50%;
    /* position: absolute; */
    margin-left: auto;
    margin-right: 12px;
}

.slider__content{
    margin:12px;
}

.dropdown__container{
    margin-top:12px;
    margin-left: 8px;
    width:100%;
}

.showmore__btn{
    margin-left: 5px;
    height:30px;
}

.title{
    text-align: left;
}

.cars__images{
    text-align: center;
}


.price__btn{
    display: flex;
    justify-content: space-between;
}

.btn__primary{
    height:50px;
    margin-top:5px;
}


